{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ block_title }}{% endblock %}</title>
  </head>
  <body>
    <header>
    <table>
      <tr>
          <th><img src="{% static 'uninorte-logo.png' %}" style="width: 100px"></th>
          <th><h1>Proyecto Seguridad del Software</h1></th>
      </tr>
    </table>

      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'user_login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>